
@charset "UTF-8";

.custom-file-label::after {
  content: "Procurar";
}

.text-error {
  color: #e16123;
  font-size: .8em;
  font-weight: 900;
}

.btn-action {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 4px 10px;
  border-radius: 50%;
  margin: 0 auto;
}

form.remove-form {
  display: inline;
}

.records--list .dataTable tbody tr td {
  min-width: 80px;
  width: 30px;
}

/* load animation */

.lds-ring {
  display: block;
  margin: 40px auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #999999;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999999 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* galeria de imagens */
.galeria-de-imagens {
  margin: 0px 40px 40px 40px;
  padding: 32px 4px;
}

.galeria-de-imagens div.row div.imagem {
  padding: 0;
  text-align: right;
  /*border: 1px solid #FFF;*/
  background-position: center;
  background-size: cover;
  height: 180px;
  background-repeat: no-repeat;
  transition-duration: .9s;
}

.galeria-de-imagens div.row div.imagem.image-thumbnail {
  height: 120px;
}

.galeria-de-imagens div.row div.imagem div {
  display: none;
  /*background-color: #fff;*/
}

.galeria-de-imagens div.row div.imagem:hover div.image-actions {
  display: block;
}

.galeria-de-imagens div.row div.imagem div span.delete-image {
  color: #FFF;
  padding: 8px 11px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .6);
  cursor: pointer;
}


.galeria-de-imagens div.row div.imagem.image-thumbnail div span.delete-image {
  color: #FFF;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .6);
  cursor: pointer;
}


.galeria-de-imagens div.row div.imagem div span i:hover,
.galeria-de-imagens div.row div.imagem div span:hover i {
  color: rgb(255, 64, 64);  
}

.galeria-de-imagens div.row div.imagem div.image-actions {
  padding: 14px 8.25px;
}

.custom-dropzone {
  margin-top: 32px;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div.image-thumbnail {
  width: 160px;
  height: 100px;
  margin: 4px;
  line-height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;

}

.flex-container > div.image-thumbnail > div.image-actions {
  position: relative;
  bottom: 44px;
  margin: 4px;
  color: #FFF;
}


