
@charset "UTF-8";

.custom-file-label::after {
  content: "Procurar";
}

.text-error {
  color: #e16123;
  font-size: .8em;
  font-weight: 900;
}

.btn-action {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 4px 10px;
  border-radius: 50%;
  margin: 0 auto;
}

form.remove-form {
  display: inline;
}

.records--list .dataTable tbody tr td {
  min-width: 80px;
  width: 30px;
}

/* load animation */

.lds-ring {
  display: block;
  margin: 40px auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #999999;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999999 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* galeria de imagens */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  align-items: center;
  justify-content: left;
}

.full-gallery.flex-container div.row div.imagem, .flex-container > div.image-thumbnail {
  margin: 2px;
  line-height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  transition-duration: .8s;
}

div.full-gallery.flex-container > div.image-thumbnail {
  width: 19.6%;
  height: 140px;
}

div.single-gallery.flex-container > div.image-thumbnail {
  width: 19.5%;
  height: 100px;
}

div.flex-container > div.image-thumbnail > div.image-actions > span {
  position: relative;
  margin: 8px;
  color: #f00;
  cursor: pointer;
  /*background-color: rgba(0, 0, 0, .6);*/
  border-radius: 50%;
}

div.flex-container > div.image-thumbnail > div.image-actions > span {
  padding: 0px;
  font-size: 1em;
  bottom: 38px;
}

header {
  z-index: 10;
}
/*
div.lightbox {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
}
*/
